lazy-object-proxy==1.4.3
astroid==2.4.2
pylint==2.5.3 
isort==4.3.21
ip2geotools==0.1.5
geoip2==3.0.0
gunicorn==20.0.4
textblob==0.15.3
ujson==5.4.0
json5==0.9.4
python-jsonrpc-server==0.3.4
urllib3==1.25.9
pycountry==19.8.18
idna==2.8
requests==2.24.0
pandas==0.24.2
nltk==3.5
plotly==4.6.0
dash==1.12.0
dash-bootstrap-components==0.10.1
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0